@{
  Layout = "_Layout";
}
@using Factory.Models
@model Factory.Models.Engineer

<h3>@Html.DisplayFor(m => m.Name)'s Info:</h3>
<h4>@Html.DisplayFor(m => m.PhoneNumber)</h4>
<h4>Salary: @Html.DisplayFor(m => m.Salary)</h4>
<h4>Hired on: @Html.DisplayFor(m => m.HireDate)</h4>
@if(@Model.JoinEntities.Count == 0)
{
  <p>This eng hasn't had any machine specialities added!</p>
}
else
{
  <h4>This eng is proficient in the following machinery:</h4>
  <ul>
    @foreach(var e in Model.JoinEntities)
    {
      <li>@e.Machine.Name</li>
      @using (Html.BeginForm("DeleteEngineer", "Machines"))
      {
        @Html.Hidden("joinId", @e.EngineerMachineId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
}

<p>@Html.ActionLink("Add a machine", "AddMachine", new { id = Model.EngineerId })</p>


<p>@Html.ActionLink("Back to engineer list", "Index", null, null, new { @class = "navBtn"})</p>
<p>@Html.ActionLink("Edit engineer", "Edit", null, new { id = Model.EngineerId }, new { @class = "navBtn"})</p>
<p>@Html.ActionLink("Delete engineer", "Delete", null, new { id = Model.EngineerId }, new { @class = "navBtn"})</p>
<p>@Html.ActionLink("Go home!", "Index", "Home", null, new { @class = "navBtn"})</p>